#section-4 {
  max-width: 1150px;
  margin: 0 auto;
  padding: 20px;
}

#section-4 .grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

/* TODO: Add responsive CSS here */
 @media screen and (max-width: 1024px) {
     /* TODO: Add the remaining responsive styles here */
     #section-4 .grid {
      grid-template-columns: 1fr;
      gap: 3rem;
     }
 }