body * {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

section {
    border: solid 1px black;
    min-height: 100px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*
    1. put into flext mode
    2. center horizontally
    3. center vertically
    */
}