@import url(https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap);

body {
    margin: 10;
    font-family: "Inconsolata", monospace;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6rem;
    background-color: #bbdff4;
}

h1{
    padding:25px;
    font-family: "inconsolata", monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}

.imagegallery {
    background-color: bisque;
    border: solid 1px blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

/* .imagegallery {
    text-align: center;
}

.imagegallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    background-color: #EEE;
    padding: 50px;
} */
/* add your styles here... */