body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
}

.grid-container {
    height: 100vh;
    /* you will add addition rules for the container here  */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    min-height: 150px;
    justify-content: stretch;
}

/* create your child rules here:  */

.item-1, .item-3, .item-5 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: white;
    border: 2px solid black;
    text-align: center
}

.item-2, .item-4 {
    grid-column-start: 3;
    grid-column-end: 6;
    background-color: white;
    border: 2px solid black;
    text-align: center;
}
