body * {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

img {
    width: 100%;
}

/*
Part 2: Put the main element (the card's parent container)
into flex mode (display: flex) and adjust the 
justify-content and align-items properties to center the card.
*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    min-height: 100vh;
}

/*
Part 1: Create some style blocks to style the card. 
    Experiment with: border, padding, margin, height, and width.
*/

.card {
    box-sizing: border-box;
    border: solid 1px black;
    margin: 10px;
    width: 50vh;
}

h2, p{
    padding: 10px;
}

button {
    margin: 10px
}
