body {background-color: cadetblue;}

h1 {color: blue;}

p {color:blue}

h2 {color:aqua}

ol {color: aqua}

img {
    width: 300px;
}

img:hover {
    transform: rotate(200000000deg);
    transition: all 10.0s
}
