html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px black solid;
    margin: 10px;
    padding: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items:center;
    border: 1px black solid;
    padding: 10px;
}

li {
    border: 1px black solid;
    padding: 10px;
}

a {
    border: 1px black solid;
    padding: 5px; 
}