body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

section {
    display: grid;
    grid-template-columns: auto 180px;
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
    justify-content: stretch;
}

h2, p, span {
    padding: 10px;
}

img {
    width: 100%;
    height: 100%;
}