.card2 {
  font-family: Quantico, sans-serif;
  width: 350px;
  height: 380px;
  translate: -6px -6px;
  background: lightblue;
  border: 3px solid #0e1743;
  box-shadow: 12px 12px 0 #0e1743;
  overflow: hidden;
  transition: all 0.3s ease;
  color: #394d83;
}

.card2 img {
    width: 100%;
}

.head {
  font-family: "Jersey 10", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  width: 100%;
  height: 50px;
  background: #dff3ff;
  text-align: center;
  color: #394d83;
  border-bottom: 3px solid #0e1743;
}

.card2 p {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
}

.card2 content {   
    padding: 8px;
}

.card2:hover {
  translate: -6px;
}