@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Jersey+10&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Tiny5&display=swap');


.card {
  font-family: Quantico, sans-serif;
  width: 500px;
  height: 510px;
  translate: -6px -6px;
  background: rgb(253, 143, 160);
  border: 3px solid #3f0818;
  box-shadow: 12px 12px 0 #3f0818;
  overflow: hidden;
  transition: all 0.3s ease;
  color: #394d83;
}

.card img {
    width: 100%;
}

.head {
  font-family: "Jersey 10", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  width: 100%;
  height: 50px;
  background: white;
  text-align: center;
  color: #612959;
  border-bottom: 3px solid #3f0818;
}

.card p {
    text-align: center;
    font-size: 1rem;
}

.content {
  padding: 8px;
  font-weight: 600;
}

.card:hover {
  translate: -6px;
}