.card2 {
  font-family: Quantico, sans-serif;
  width: 350px;
  height: 380px;
  translate: -6px -6px;
  background: lavender;
  border: 3px solid #2b0e43;
  box-shadow: 12px 12px 0 #2b0e43;
  overflow: hidden;
  transition: all 0.3s ease;
  color: #3e255c;
}

.card2 img {
    width: 100%;
}

.head {
  font-family: "Jersey 10", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  width: 100%;
  height: 50px;
  background: white;
  text-align: center;
  color: #3e255c;
  border-bottom: 3px solid #2b0e43;
}

.card2 p {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
}

.card2 content {   
    padding: 8px;
}

.card2:hover {
  translate: -6px;
}