@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Jersey+10&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Tiny5&display=swap');

html {
  font-size: 16px;
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url(images/backgroundpattern.png);
  cursor: url(images/pixelassets/cursor.png), auto;
}

body {
  margin-left: 50px;
  margin-right: 50px;
}

h2 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  text-align: center;
}

img {
  border-radius: 10px;
}

#pagebreak {
  display: block;
  margin: auto;
  padding-top: 50px;
}

/* heading CSS */

h1 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  text-align: center;
  color: #394d83;
}

/* navigation bar CSS */
header ul {
  list-style-type: none;
  margin: 0;
  margin-left: 400px;
  margin-right: 400px;
  border: solid 1px black;
  border-radius: 10px;
  background-color: lightblue;
  box-shadow: 0 4px 8px 0 #394d83;
  transition: 0.3s;
  padding: 20px;
  display: flex;
  justify-content: center;
}

header ul li a {
  display: block;
  color: #394d83;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header ul li a:hover {
  color: #f52974;
  cursor: url(images/pixelassets/cursor.png), auto;

}

/* section 1 CSS */

#section-1 {
  text-align: left;
  padding-left: 80px;
  padding-right: 80px;
  color: #394d83;
}

#section-1 p {
  text-align: center;
  display: block;
  unicode-bidi: isolate;
  font-size: 1.75rem;
  color: #394d83;
}

/* section 2 */

#section-2 {
  text-align: center;
  font-size: 1.75rem;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  color: #394d83;
}

#section-2 p {
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-2 .card {
  box-shadow: 0 4px 8px 0 #394d83;
  transition: 0.3s;
  border-radius: 5px;
  background-color: lightblue;
  color: #394d83; 
  width: 700px;
}

#section-2 .grid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
}

#section-2 .card:hover {
  box-shadow: 0 8px 16px 0 #394d83;
}

#section-2 .container {
  width: 100%;
}

#section-2 .container p {
  font-size: 1.5rem;
  text-align: center;
}

#section-2 .container h3 {
  color: #f52974;
  font-size: 2rem;
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* section 3 */

#section-3 {
  text-align: center;
  font-size: 1.5rem;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  color: #394d83;
}

#barChartContainer, #barChartContainer2{
  margin: auto;
}

#barchartgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: lightblue;
  box-shadow: 0 4px 8px 0 #394d83;
  transition: 0.3s;
  border-radius: 5px;
  color: #394d83;
}

#piechartgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  box-shadow: 0 4px 8px 0 #394d83;
  transition: 0.3s;
  border-radius: 5px;
  color: #394d83;
}

#section-3 h3 {
  font-size: 2.5rem;
}

#section-3 h4 {
  font-style: italic;
  font-size: 1.25rem;
}

#section-3 p {
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}

#gridp {
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-3 .card {
  box-shadow: 0 4px 8px 0 #394d83;
  transition: 0.3s;
  border-radius: 5px;
  width: 100%;
  background-color: lightblue;
}

#section-3 .grid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

#section-3 .card:hover {
  box-shadow: 0 8px 16px 0 #394d83;
}

#section-3 .container p {
  font-size: 1.25rem;
  text-align: center;
}

#section-3 .container h3 {
  color: #f52974;
  font-size: 2rem;
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card img {
  border-radius: 5px 5px 0 0;
}

/* section 4 */

#section-4 {
  color: #394d83;
  background-size: 200%;
  padding-left: 100px;
  padding-right: 100px;
}

#section-4 h4 {
  text-align: center;
  font-size: 1.5rem;
  color:#394d83;
}

#section-4a h4 {
  text-align: center;
  font-size: 1.5rem;
  color:#394d83;
}

#section-4 p {
  font-size: 1.2rem;
  padding-left: 40px;
  padding-right: 40px;
}

#section-4 ul {
  padding-left: 40px;
  padding-right: 40px;
}

.ac6review {
  border: solid 1px black;
  background-color: lightblue;
  box-shadow: 0 4px 8px 0 #394d83;
  transition: 0.3s;
  border-radius: 5px;
}

.ac6review h4 {
  padding-left: 40px;
  padding-right: 40px;
}

.ac6reviewgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.ac6reviewgrid img {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: 1px solid black;
}

.imgcontainer {
  position: relative;
  width: 30%;
  margin: auto;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #394d83;
  border-radius: 10px;
}

.imgcontainer:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#section-4a .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

#section-4a h3 {
  font-size: 1.5rem;
  color: white;
}

.gridcontainer {
  position: relative;
  width: 75%;
  margin: auto;
}

.gridcontainer:hover .overlay {
  opacity: 0.9;
}

/* section 5 */

#section-5 {
  color: #394d83;
  padding-left: 90px;
  padding-right: 90px;
}

#section-5 p {
  text-align: center;
  font-size: 1.5rem;
}

#section-5 .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  border: solid 1px black;
  background-color: lightblue;
  box-shadow: 0 4px 8px 0 #394d83;
  transition: 0.3s;
  border-radius: 5px;
}

#section-5 .grid p {
  text-align: left;
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-style: italic;
}

#section-5 img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#section-5 h4 {
  text-align: center;
  font-size: 1.25rem;
}

/* section 6 */

#section-6 {
  color: #394d83;
  padding-left: 90px;
  padding-right: 90px;
}

#section-6 p {
  font-size: 1.5rem;
  text-align: center;
  color: #394d83;
}

#section-6 h3 {
  font-size: 2rem;
  text-align: center;
  color: #394d83;
  margin-left: 250px;
  margin-right: 250px;
  background-color: lightblue;
  box-shadow: 0 4px 8px 0 #394d83;
  transition: 0.3s;
  border-radius: 5px;
}

/* footer */

.footer {
  text-align: center;
  padding: 5px;
  color: #394d83;
  font-size: 0.9rem;
  width: 100%;
}

/* tablet optimization */

@media screen and (max-width: 1024px) {
  /* section 1 */

}

@media screen and (max-width: 768px) {
  /* section 1 */
}