@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Jersey+10&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Tiny5&display=swap');

html {
  font-size: 16px;
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url(images/backgroundpattern.png);
  cursor: url(images/pixelassets/cursor.png), auto;
}

h2 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  text-align: center;
}

#pagebreak {
  display: block;
  margin: auto;
  padding-top: 50px;
}

/* heading CSS */

h1 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  text-align: center;
  color: #394d83;
}

/* navigation bar CSS */
header ul {
  list-style-type: none;
  margin: 0;
  margin-left: 150px;
  margin-right: 150px;
  translate: -6px -6px;
  background: lightblue;
  border: 3px solid #0e1743;
  box-shadow: 12px 12px 0 #0e1743;
  overflow: hidden;
  padding: 20px;
  display: flex;
  justify-content: center;
}

header ul li a {
  display: block;
  color: #394d83;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header ul li a:hover {
  color: #f52974;
  translate: -6px;
  transition: all 0.3s ease;
  cursor: url(images/pixelassets/cursor.png), auto;

}

/* section 1 CSS */

#section-1 {
  text-align: left;
  padding-left: 80px;
  padding-right: 80px;
  color: #394d83;
}

#section-1 p {
  text-align: center;
  display: block;
  unicode-bidi: isolate;
  font-size: 1.75rem;
  color: #394d83;
}

/* section 2 */

#section-2 {
  text-align: center;
  font-size: 1.25rem;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  color: #394d83;
}

#section-2 p {
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-2 .grid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}


/* section 3 */

#section-3 {
  text-align: center;
  font-size: 1.5rem;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  color: #394d83;
}

#barChartContainer, #barChartContainer2{
  margin: auto;
}

#barchartgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  translate: -6px -6px;
  background: lightblue;
  border: 3px solid #0e1743;
  box-shadow: 12px 12px 0 #0e1743;
  overflow: hidden;
  transition: all 0.3s ease;
  color: #394d83;
}

#barchartgrid:hover {
  translate: -6px;
}

#piechartgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  translate: -6px -6px;
  background: lightblue;
  border: 3px solid #0e1743;
  box-shadow: 12px 12px 0 #0e1743;
  overflow: hidden;
  transition: all 0.3s ease;
  color: #394d83;
}

#piechartgrid:hover {
  translate: -6px;
}

#section-3 h3 {
  font-size: 2.5rem;
}

#section-3 h4 {
  font-style: italic;
  font-size: 1.25rem;
}

#section-3 p {
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}

#gridp {
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-3 .grid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

/* section 4 */

#section-4 {
  color: #394d83;
  background-size: 200%;
  padding-left: 100px;
  padding-right: 100px;
}

#section-4 h4 {
  text-align: center;
  font-size: 1.5rem;
  color:#394d83;
}

#section-4a h4 {
  text-align: center;
  font-size: 1.5rem;
  color:#394d83;
}

.ac6reviewgrid h5 {
  color: lightblue;
  font-size: 1.5rem;
}

#section-4 p {
  font-size: 1.2rem;
  padding-left: 20px;
  padding-right: 20px;
}

#section-4 ul {
  padding-left: 40px;
  padding-right: 40px;
}

.ac6review {
  border: 3px solid #0e1743;
  box-shadow: 12px 12px 0 #0e1743;
  overflow: hidden;
  background-color: lightblue;
  transition: all 0.3s ease;
}

.ac6reviewgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px black solid;
  text-align: center;
  color: lightblue;
  background-color: #394d83;
  
}

.ac6reviewgrid img {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: 1px solid black;
}

.imgcontainer {
  position: relative;
  width: 30%;
  margin: auto;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #394d83;
  border-radius: 10px;
}

.imgcontainer:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#section-4a .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

#section-4a h3 {
  font-size: 1.5rem;
  color: white;
}

.gridcontainer {
  position: relative;
  width: 75%;
  margin: auto;
  translate: -6px -6px;
  background: lightblue;
  border: 3px solid #0e1743;
  box-shadow: 12px 12px 0 #0e1743;
  overflow: hidden;
  transition: all 0.3s ease;
}

.gridcontainer:hover {
  translate: -6px;
}

.gridcontainer:hover .overlay {
  opacity: 0.9;
}

/* section 5 */

#section-5 {
  color: #394d83;
  padding-left: 90px;
  padding-right: 90px;
}

#section-5 p {
  text-align: center;
  font-size: 1.5rem;
}

#section-5 .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  border: 3px solid #0e1743;
  box-shadow: 12px 12px 0 #0e1743;
  overflow: hidden;
  background-color: lightblue;
  transition: all 0.3s ease;
}

#section-5 .grid:hover {
  translate: -6px;
}

#section-5 .grid p {
  text-align: left;
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-style: italic;
}

#section-5 img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#section-5 h4 {
  text-align: center;
  font-size: 1.25rem;
}

/* section 6 */

#section-6 {
  color: #394d83;
  padding-left: 90px;
  padding-right: 90px;
}

#section-6 p {
  font-size: 1.5rem;
  text-align: center;
  color: #394d83;
}

#section-6 h3 {
  font-size: 2rem;
  text-align: center;
  color: #394d83;
  border: 3px solid #0e1743;
  box-shadow: 12px 12px 0 #0e1743;
  overflow: hidden;
  background-color: lightblue;
  transition: all 0.3s ease;
}

/* footer */

.footer {
  text-align: center;
  padding: 5px;
  color: #394d83;
  font-size: 0.9rem;
  width: 100%;
}

/* tablet optimization */

@media screen and (max-width: 1024px) {
  /* section 1 */

}

@media screen and (max-width: 768px) {
  /* section 1 */
}